In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_rows', 200)

In [3]:
df_churn = pd.read_csv('telecom_churn_data.csv')
df_churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [4]:
df_churn.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
mobile_number               99999 non-null int64
circle_id                   99999 non-null int64
loc_og_t2o_mou              98981 non-null float64
std_og_t2o_mou              98981 non-null float64
loc_ic_t2o_mou              98981 non-null float64
last_date_of_month_6        99999 non-null object
last_date_of_month_7        99398 non-null object
last_date_of_month_8        98899 non-null object
last_date_of_month_9        98340 non-null object
arpu_6                      99999 non-null float64
arpu_7                      99999 non-null float64
arpu_8                      99999 non-null float64
arpu_9                      99999 non-null float64
onnet_mou_6                 96062 non-null float64
onnet_mou_7                 96140 non-null float64
onnet_mou_8                 94621 non-null float64
onnet_mou_9                 92254 non-null float64
offnet_mou_6                96062 non-null float64
offnet_mou_7                96140 non-null float64
offnet_mou_8                94621 non-null float64
offnet_mou_9                92254 non-null float64
roam_ic_mou_6               96062 non-null float64
roam_ic_mou_7               96140 non-null float64
roam_ic_mou_8               94621 non-null float64
roam_ic_mou_9               92254 non-null float64
roam_og_mou_6               96062 non-null float64
roam_og_mou_7               96140 non-null float64
roam_og_mou_8               94621 non-null float64
roam_og_mou_9               92254 non-null float64
loc_og_t2t_mou_6            96062 non-null float64
loc_og_t2t_mou_7            96140 non-null float64
loc_og_t2t_mou_8            94621 non-null float64
loc_og_t2t_mou_9            92254 non-null float64
loc_og_t2m_mou_6            96062 non-null float64
loc_og_t2m_mou_7            96140 non-null float64
loc_og_t2m_mou_8            94621 non-null float64
loc_og_t2m_mou_9            92254 non-null float64
loc_og_t2f_mou_6            96062 non-null float64
loc_og_t2f_mou_7            96140 non-null float64
loc_og_t2f_mou_8            94621 non-null float64
loc_og_t2f_mou_9            92254 non-null float64
loc_og_t2c_mou_6            96062 non-null float64
loc_og_t2c_mou_7            96140 non-null float64
loc_og_t2c_mou_8            94621 non-null float64
loc_og_t2c_mou_9            92254 non-null float64
loc_og_mou_6                96062 non-null float64
loc_og_mou_7                96140 non-null float64
loc_og_mou_8                94621 non-null float64
loc_og_mou_9                92254 non-null float64
std_og_t2t_mou_6            96062 non-null float64
std_og_t2t_mou_7            96140 non-null float64
std_og_t2t_mou_8            94621 non-null float64
std_og_t2t_mou_9            92254 non-null float64
std_og_t2m_mou_6            96062 non-null float64
std_og_t2m_mou_7            96140 non-null float64
std_og_t2m_mou_8            94621 non-null float64
std_og_t2m_mou_9            92254 non-null float64
std_og_t2f_mou_6            96062 non-null float64
std_og_t2f_mou_7            96140 non-null float64
std_og_t2f_mou_8            94621 non-null float64
std_og_t2f_mou_9            92254 non-null float64
std_og_t2c_mou_6            96062 non-null float64
std_og_t2c_mou_7            96140 non-null float64
std_og_t2c_mou_8            94621 non-null float64
std_og_t2c_mou_9            92254 non-null float64
std_og_mou_6                96062 non-null float64
std_og_mou_7                96140 non-null float64
std_og_mou_8                94621 non-null float64
std_og_mou_9                92254 non-null float64
isd_og_mou_6                96062 non-null float64
isd_og_mou_7                96140 non-null float64
isd_og_mou_8                94621 non-null float64
isd_og_mou_9                92254 non-null float64
spl_og_mou_6                96062 non-null float64
spl_og_mou_7                96140 non-null float64
spl_og_mou_8                94621 non-null float64
spl_og_mou_9                92254 non-null float64
og_others_6                 96062 non-null float64
og_others_7                 96140 non-null float64
og_others_8                 94621 non-null float64
og_others_9                 92254 non-null float64
total_og_mou_6              99999 non-null float64
total_og_mou_7              99999 non-null float64
total_og_mou_8              99999 non-null float64
total_og_mou_9              99999 non-null float64
loc_ic_t2t_mou_6            96062 non-null float64
loc_ic_t2t_mou_7            96140 non-null float64
loc_ic_t2t_mou_8            94621 non-null float64
loc_ic_t2t_mou_9            92254 non-null float64
loc_ic_t2m_mou_6            96062 non-null float64
loc_ic_t2m_mou_7            96140 non-null float64
loc_ic_t2m_mou_8            94621 non-null float64
loc_ic_t2m_mou_9            92254 non-null float64
loc_ic_t2f_mou_6            96062 non-null float64
loc_ic_t2f_mou_7            96140 non-null float64
loc_ic_t2f_mou_8            94621 non-null float64
loc_ic_t2f_mou_9            92254 non-null float64
loc_ic_mou_6                96062 non-null float64
loc_ic_mou_7                96140 non-null float64
loc_ic_mou_8                94621 non-null float64
loc_ic_mou_9                92254 non-null float64
std_ic_t2t_mou_6            96062 non-null float64
std_ic_t2t_mou_7            96140 non-null float64
std_ic_t2t_mou_8            94621 non-null float64
std_ic_t2t_mou_9            92254 non-null float64
std_ic_t2m_mou_6            96062 non-null float64
std_ic_t2m_mou_7            96140 non-null float64
std_ic_t2m_mou_8            94621 non-null float64
std_ic_t2m_mou_9            92254 non-null float64
std_ic_t2f_mou_6            96062 non-null float64
std_ic_t2f_mou_7            96140 non-null float64
std_ic_t2f_mou_8            94621 non-null float64
std_ic_t2f_mou_9            92254 non-null float64
std_ic_t2o_mou_6            96062 non-null float64
std_ic_t2o_mou_7            96140 non-null float64
std_ic_t2o_mou_8            94621 non-null float64
std_ic_t2o_mou_9            92254 non-null float64
std_ic_mou_6                96062 non-null float64
std_ic_mou_7                96140 non-null float64
std_ic_mou_8                94621 non-null float64
std_ic_mou_9                92254 non-null float64
total_ic_mou_6              99999 non-null float64
total_ic_mou_7              99999 non-null float64
total_ic_mou_8              99999 non-null float64
total_ic_mou_9              99999 non-null float64
spl_ic_mou_6                96062 non-null float64
spl_ic_mou_7                96140 non-null float64
spl_ic_mou_8                94621 non-null float64
spl_ic_mou_9                92254 non-null float64
isd_ic_mou_6                96062 non-null float64
isd_ic_mou_7                96140 non-null float64
isd_ic_mou_8                94621 non-null float64
isd_ic_mou_9                92254 non-null float64
ic_others_6                 96062 non-null float64
ic_others_7                 96140 non-null float64
ic_others_8                 94621 non-null float64
ic_others_9                 92254 non-null float64
total_rech_num_6            99999 non-null int64
total_rech_num_7            99999 non-null int64
total_rech_num_8            99999 non-null int64
total_rech_num_9            99999 non-null int64
total_rech_amt_6            99999 non-null int64
total_rech_amt_7            99999 non-null int64
total_rech_amt_8            99999 non-null int64
total_rech_amt_9            99999 non-null int64
max_rech_amt_6              99999 non-null int64
max_rech_amt_7              99999 non-null int64
max_rech_amt_8              99999 non-null int64
max_rech_amt_9              99999 non-null int64
date_of_last_rech_6         98392 non-null object
date_of_last_rech_7         98232 non-null object
date_of_last_rech_8         96377 non-null object
date_of_last_rech_9         95239 non-null object
last_day_rch_amt_6          99999 non-null int64
last_day_rch_amt_7          99999 non-null int64
last_day_rch_amt_8          99999 non-null int64
last_day_rch_amt_9          99999 non-null int64
date_of_last_rech_data_6    25153 non-null object
date_of_last_rech_data_7    25571 non-null object
date_of_last_rech_data_8    26339 non-null object
date_of_last_rech_data_9    25922 non-null object
total_rech_data_6           25153 non-null float64
total_rech_data_7           25571 non-null float64
total_rech_data_8           26339 non-null float64
total_rech_data_9           25922 non-null float64
max_rech_data_6             25153 non-null float64
max_rech_data_7             25571 non-null float64
max_rech_data_8             26339 non-null float64
max_rech_data_9             25922 non-null float64
count_rech_2g_6             25153 non-null float64
count_rech_2g_7             25571 non-null float64
count_rech_2g_8             26339 non-null float64
count_rech_2g_9             25922 non-null float64
count_rech_3g_6             25153 non-null float64
count_rech_3g_7             25571 non-null float64
count_rech_3g_8             26339 non-null float64
count_rech_3g_9             25922 non-null float64
av_rech_amt_data_6          25153 non-null float64
av_rech_amt_data_7          25571 non-null float64
av_rech_amt_data_8          26339 non-null float64
av_rech_amt_data_9          25922 non-null float64
vol_2g_mb_6                 99999 non-null float64
vol_2g_mb_7                 99999 non-null float64
vol_2g_mb_8                 99999 non-null float64
vol_2g_mb_9                 99999 non-null float64
vol_3g_mb_6                 99999 non-null float64
vol_3g_mb_7                 99999 non-null float64
vol_3g_mb_8                 99999 non-null float64
vol_3g_mb_9                 99999 non-null float64
arpu_3g_6                   25153 non-null float64
arpu_3g_7                   25571 non-null float64
arpu_3g_8                   26339 non-null float64
arpu_3g_9                   25922 non-null float64
arpu_2g_6                   25153 non-null float64
arpu_2g_7                   25571 non-null float64
arpu_2g_8                   26339 non-null float64
arpu_2g_9                   25922 non-null float64
night_pck_user_6            25153 non-null float64
night_pck_user_7            25571 non-null float64
night_pck_user_8            26339 non-null float64
night_pck_user_9            25922 non-null float64
monthly_2g_6                99999 non-null int64
monthly_2g_7                99999 non-null int64
monthly_2g_8                99999 non-null int64
monthly_2g_9                99999 non-null int64
sachet_2g_6                 99999 non-null int64
sachet_2g_7                 99999 non-null int64
sachet_2g_8                 99999 non-null int64
sachet_2g_9                 99999 non-null int64
monthly_3g_6                99999 non-null int64
monthly_3g_7                99999 non-null int64
monthly_3g_8                99999 non-null int64
monthly_3g_9                99999 non-null int64
sachet_3g_6                 99999 non-null int64
sachet_3g_7                 99999 non-null int64
sachet_3g_8                 99999 non-null int64
sachet_3g_9                 99999 non-null int64
fb_user_6                   25153 non-null float64
fb_user_7                   25571 non-null float64
fb_user_8                   26339 non-null float64
fb_user_9                   25922 non-null float64
aon                         99999 non-null int64
aug_vbc_3g                  99999 non-null float64
jul_vbc_3g                  99999 non-null float64
jun_vbc_3g                  99999 non-null float64
sep_vbc_3g                  99999 non-null float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

## Data Cleaning

In [5]:
def calc_null_per():
    null_per = 100 * df_churn.isnull().sum() / df_churn.shape[0]
    above_zero = null_per[null_per > 0]
    return above_zero

In [6]:
calc_null_per()

loc_og_t2o_mou               1.018010
std_og_t2o_mou               1.018010
loc_ic_t2o_mou               1.018010
last_date_of_month_7         0.601006
last_date_of_month_8         1.100011
last_date_of_month_9         1.659017
onnet_mou_6                  3.937039
onnet_mou_7                  3.859039
onnet_mou_8                  5.378054
onnet_mou_9                  7.745077
offnet_mou_6                 3.937039
offnet_mou_7                 3.859039
offnet_mou_8                 5.378054
offnet_mou_9                 7.745077
roam_ic_mou_6                3.937039
roam_ic_mou_7                3.859039
roam_ic_mou_8                5.378054
roam_ic_mou_9                7.745077
roam_og_mou_6                3.937039
roam_og_mou_7                3.859039
roam_og_mou_8                5.378054
roam_og_mou_9                7.745077
loc_og_t2t_mou_6             3.937039
loc_og_t2t_mou_7             3.859039
loc_og_t2t_mou_8             5.378054
loc_og_t2t_mou_9             7.745077
loc_og_t2m_mou_6             3.937039
loc_og_t2m_mou_7             3.859039
loc_og_t2m_mou_8             5.378054
loc_og_t2m_mou_9             7.745077
loc_og_t2f_mou_6             3.937039
loc_og_t2f_mou_7             3.859039
loc_og_t2f_mou_8             5.378054
loc_og_t2f_mou_9             7.745077
loc_og_t2c_mou_6             3.937039
loc_og_t2c_mou_7             3.859039
loc_og_t2c_mou_8             5.378054
loc_og_t2c_mou_9             7.745077
loc_og_mou_6                 3.937039
loc_og_mou_7                 3.859039
loc_og_mou_8                 5.378054
loc_og_mou_9                 7.745077
std_og_t2t_mou_6             3.937039
std_og_t2t_mou_7             3.859039
std_og_t2t_mou_8             5.378054
std_og_t2t_mou_9             7.745077
std_og_t2m_mou_6             3.937039
std_og_t2m_mou_7             3.859039
std_og_t2m_mou_8             5.378054
std_og_t2m_mou_9             7.745077
std_og_t2f_mou_6             3.937039
std_og_t2f_mou_7             3.859039
std_og_t2f_mou_8             5.378054
std_og_t2f_mou_9             7.745077
std_og_t2c_mou_6             3.937039
std_og_t2c_mou_7             3.859039
std_og_t2c_mou_8             5.378054
std_og_t2c_mou_9             7.745077
std_og_mou_6                 3.937039
std_og_mou_7                 3.859039
std_og_mou_8                 5.378054
std_og_mou_9                 7.745077
isd_og_mou_6                 3.937039
isd_og_mou_7                 3.859039
isd_og_mou_8                 5.378054
isd_og_mou_9                 7.745077
spl_og_mou_6                 3.937039
spl_og_mou_7                 3.859039
spl_og_mou_8                 5.378054
spl_og_mou_9                 7.745077
og_others_6                  3.937039
og_others_7                  3.859039
og_others_8                  5.378054
og_others_9                  7.745077
loc_ic_t2t_mou_6             3.937039
loc_ic_t2t_mou_7             3.859039
loc_ic_t2t_mou_8             5.378054
loc_ic_t2t_mou_9             7.745077
loc_ic_t2m_mou_6             3.937039
loc_ic_t2m_mou_7             3.859039
loc_ic_t2m_mou_8             5.378054
loc_ic_t2m_mou_9             7.745077
loc_ic_t2f_mou_6             3.937039
loc_ic_t2f_mou_7             3.859039
loc_ic_t2f_mou_8             5.378054
loc_ic_t2f_mou_9             7.745077
loc_ic_mou_6                 3.937039
loc_ic_mou_7                 3.859039
loc_ic_mou_8                 5.378054
loc_ic_mou_9                 7.745077
std_ic_t2t_mou_6             3.937039
std_ic_t2t_mou_7             3.859039
std_ic_t2t_mou_8             5.378054
std_ic_t2t_mou_9             7.745077
std_ic_t2m_mou_6             3.937039
std_ic_t2m_mou_7             3.859039
std_ic_t2m_mou_8             5.378054
std_ic_t2m_mou_9             7.745077
std_ic_t2f_mou_6             3.937039
std_ic_t2f_mou_7             3.859039
std_ic_t2f_mou_8             5.378054
std_ic_t2f_mou_9             7.745077
std_ic_t2o_mou_6             3.937039
std_ic_t2o_mou_7             3.859039
std_ic_t2o_mou_8             5.378054
std_ic_t2o_mou_9             7.745077
std_ic_mou_6                 3.937039
std_ic_mou_7                 3.859039
std_ic_mou_8                 5.378054
std_ic_mou_9                 7.745077
spl_ic_mou_6                 3.937039
spl_ic_mou_7                 3.859039
spl_ic_mou_8                 5.378054
spl_ic_mou_9                 7.745077
isd_ic_mou_6                 3.937039
isd_ic_mou_7                 3.859039
isd_ic_mou_8                 5.378054
isd_ic_mou_9                 7.745077
ic_others_6                  3.937039
ic_others_7                  3.859039
ic_others_8                  5.378054
ic_others_9                  7.745077
date_of_last_rech_6          1.607016
date_of_last_rech_7          1.767018
date_of_last_rech_8          3.622036
date_of_last_rech_9          4.760048
date_of_last_rech_data_6    74.846748
date_of_last_rech_data_7    74.428744
date_of_last_rech_data_8    73.660737
date_of_last_rech_data_9    74.077741
total_rech_data_6           74.846748
total_rech_data_7           74.428744
total_rech_data_8           73.660737
total_rech_data_9           74.077741
max_rech_data_6             74.846748
max_rech_data_7             74.428744
max_rech_data_8             73.660737
max_rech_data_9             74.077741
count_rech_2g_6             74.846748
count_rech_2g_7             74.428744
count_rech_2g_8             73.660737
count_rech_2g_9             74.077741
count_rech_3g_6             74.846748
count_rech_3g_7             74.428744
count_rech_3g_8             73.660737
count_rech_3g_9             74.077741
av_rech_amt_data_6          74.846748
av_rech_amt_data_7          74.428744
av_rech_amt_data_8          73.660737
av_rech_amt_data_9          74.077741
arpu_3g_6                   74.846748
arpu_3g_7                   74.428744
arpu_3g_8                   73.660737
arpu_3g_9                   74.077741
arpu_2g_6                   74.846748
arpu_2g_7                   74.428744
arpu_2g_8                   73.660737
arpu_2g_9                   74.077741
night_pck_user_6            74.846748
night_pck_user_7            74.428744
night_pck_user_8            73.660737
night_pck_user_9            74.077741
fb_user_6                   74.846748
fb_user_7                   74.428744
fb_user_8                   73.660737
fb_user_9                   74.077741
dtype: float64

### Imputation

In [7]:
cols_to_impute_zero = ['total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9', 
                       'max_rech_data_6', 'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9', 
                       'count_rech_2g_6', 'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9', 
                       'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8', 'count_rech_3g_9', 
                       'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9', 
                       'arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 
                       'arpu_2g_8', 'arpu_2g_9', 'night_pck_user_6', 'night_pck_user_7', 
                       'night_pck_user_8', 'night_pck_user_9']

for col in cols_to_impute_zero:
    df_churn[col].fillna(0, inplace=True)

In [8]:
calc_null_per()

loc_og_t2o_mou               1.018010
std_og_t2o_mou               1.018010
loc_ic_t2o_mou               1.018010
last_date_of_month_7         0.601006
last_date_of_month_8         1.100011
last_date_of_month_9         1.659017
onnet_mou_6                  3.937039
onnet_mou_7                  3.859039
onnet_mou_8                  5.378054
onnet_mou_9                  7.745077
offnet_mou_6                 3.937039
offnet_mou_7                 3.859039
offnet_mou_8                 5.378054
offnet_mou_9                 7.745077
roam_ic_mou_6                3.937039
roam_ic_mou_7                3.859039
roam_ic_mou_8                5.378054
roam_ic_mou_9                7.745077
roam_og_mou_6                3.937039
roam_og_mou_7                3.859039
roam_og_mou_8                5.378054
roam_og_mou_9                7.745077
loc_og_t2t_mou_6             3.937039
loc_og_t2t_mou_7             3.859039
loc_og_t2t_mou_8             5.378054
loc_og_t2t_mou_9             7.745077
loc_og_t2m_mou_6             3.937039
loc_og_t2m_mou_7             3.859039
loc_og_t2m_mou_8             5.378054
loc_og_t2m_mou_9             7.745077
loc_og_t2f_mou_6             3.937039
loc_og_t2f_mou_7             3.859039
loc_og_t2f_mou_8             5.378054
loc_og_t2f_mou_9             7.745077
loc_og_t2c_mou_6             3.937039
loc_og_t2c_mou_7             3.859039
loc_og_t2c_mou_8             5.378054
loc_og_t2c_mou_9             7.745077
loc_og_mou_6                 3.937039
loc_og_mou_7                 3.859039
loc_og_mou_8                 5.378054
loc_og_mou_9                 7.745077
std_og_t2t_mou_6             3.937039
std_og_t2t_mou_7             3.859039
std_og_t2t_mou_8             5.378054
std_og_t2t_mou_9             7.745077
std_og_t2m_mou_6             3.937039
std_og_t2m_mou_7             3.859039
std_og_t2m_mou_8             5.378054
std_og_t2m_mou_9             7.745077
std_og_t2f_mou_6             3.937039
std_og_t2f_mou_7             3.859039
std_og_t2f_mou_8             5.378054
std_og_t2f_mou_9             7.745077
std_og_t2c_mou_6             3.937039
std_og_t2c_mou_7             3.859039
std_og_t2c_mou_8             5.378054
std_og_t2c_mou_9             7.745077
std_og_mou_6                 3.937039
std_og_mou_7                 3.859039
std_og_mou_8                 5.378054
std_og_mou_9                 7.745077
isd_og_mou_6                 3.937039
isd_og_mou_7                 3.859039
isd_og_mou_8                 5.378054
isd_og_mou_9                 7.745077
spl_og_mou_6                 3.937039
spl_og_mou_7                 3.859039
spl_og_mou_8                 5.378054
spl_og_mou_9                 7.745077
og_others_6                  3.937039
og_others_7                  3.859039
og_others_8                  5.378054
og_others_9                  7.745077
loc_ic_t2t_mou_6             3.937039
loc_ic_t2t_mou_7             3.859039
loc_ic_t2t_mou_8             5.378054
loc_ic_t2t_mou_9             7.745077
loc_ic_t2m_mou_6             3.937039
loc_ic_t2m_mou_7             3.859039
loc_ic_t2m_mou_8             5.378054
loc_ic_t2m_mou_9             7.745077
loc_ic_t2f_mou_6             3.937039
loc_ic_t2f_mou_7             3.859039
loc_ic_t2f_mou_8             5.378054
loc_ic_t2f_mou_9             7.745077
loc_ic_mou_6                 3.937039
loc_ic_mou_7                 3.859039
loc_ic_mou_8                 5.378054
loc_ic_mou_9                 7.745077
std_ic_t2t_mou_6             3.937039
std_ic_t2t_mou_7             3.859039
std_ic_t2t_mou_8             5.378054
std_ic_t2t_mou_9             7.745077
std_ic_t2m_mou_6             3.937039
std_ic_t2m_mou_7             3.859039
std_ic_t2m_mou_8             5.378054
std_ic_t2m_mou_9             7.745077
std_ic_t2f_mou_6             3.937039
std_ic_t2f_mou_7             3.859039
std_ic_t2f_mou_8             5.378054
std_ic_t2f_mou_9             7.745077
std_ic_t2o_mou_6             3.937039
std_ic_t2o_mou_7             3.859039
std_ic_t2o_mou_8             5.378054
std_ic_t2o_mou_9             7.745077
std_ic_mou_6                 3.937039
std_ic_mou_7                 3.859039
std_ic_mou_8                 5.378054
std_ic_mou_9                 7.745077
spl_ic_mou_6                 3.937039
spl_ic_mou_7                 3.859039
spl_ic_mou_8                 5.378054
spl_ic_mou_9                 7.745077
isd_ic_mou_6                 3.937039
isd_ic_mou_7                 3.859039
isd_ic_mou_8                 5.378054
isd_ic_mou_9                 7.745077
ic_others_6                  3.937039
ic_others_7                  3.859039
ic_others_8                  5.378054
ic_others_9                  7.745077
date_of_last_rech_6          1.607016
date_of_last_rech_7          1.767018
date_of_last_rech_8          3.622036
date_of_last_rech_9          4.760048
date_of_last_rech_data_6    74.846748
date_of_last_rech_data_7    74.428744
date_of_last_rech_data_8    73.660737
date_of_last_rech_data_9    74.077741
fb_user_6                   74.846748
fb_user_7                   74.428744
fb_user_8                   73.660737
fb_user_9                   74.077741
dtype: float64

#### Drop high null percentage columns

In [9]:
df_churn = df_churn.drop(
    ['fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9', 'date_of_last_rech_data_6', 'date_of_last_rech_data_7', 
     'date_of_last_rech_data_8', 'date_of_last_rech_data_9'],
             axis = 1)

#### Drop irreleant columns

In [10]:
df_churn = df_churn.drop(['last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'last_date_of_month_9'],
             axis = 1)

In [11]:
null_cols = calc_null_per() 
null_cols

loc_og_t2o_mou         1.018010
std_og_t2o_mou         1.018010
loc_ic_t2o_mou         1.018010
onnet_mou_6            3.937039
onnet_mou_7            3.859039
onnet_mou_8            5.378054
onnet_mou_9            7.745077
offnet_mou_6           3.937039
offnet_mou_7           3.859039
offnet_mou_8           5.378054
offnet_mou_9           7.745077
roam_ic_mou_6          3.937039
roam_ic_mou_7          3.859039
roam_ic_mou_8          5.378054
roam_ic_mou_9          7.745077
roam_og_mou_6          3.937039
roam_og_mou_7          3.859039
roam_og_mou_8          5.378054
roam_og_mou_9          7.745077
loc_og_t2t_mou_6       3.937039
loc_og_t2t_mou_7       3.859039
loc_og_t2t_mou_8       5.378054
loc_og_t2t_mou_9       7.745077
loc_og_t2m_mou_6       3.937039
loc_og_t2m_mou_7       3.859039
loc_og_t2m_mou_8       5.378054
loc_og_t2m_mou_9       7.745077
loc_og_t2f_mou_6       3.937039
loc_og_t2f_mou_7       3.859039
loc_og_t2f_mou_8       5.378054
loc_og_t2f_mou_9       7.745077
loc_og_t2c_mou_6       3.937039
loc_og_t2c_mou_7       3.859039
loc_og_t2c_mou_8       5.378054
loc_og_t2c_mou_9       7.745077
loc_og_mou_6           3.937039
loc_og_mou_7           3.859039
loc_og_mou_8           5.378054
loc_og_mou_9           7.745077
std_og_t2t_mou_6       3.937039
std_og_t2t_mou_7       3.859039
std_og_t2t_mou_8       5.378054
std_og_t2t_mou_9       7.745077
std_og_t2m_mou_6       3.937039
std_og_t2m_mou_7       3.859039
std_og_t2m_mou_8       5.378054
std_og_t2m_mou_9       7.745077
std_og_t2f_mou_6       3.937039
std_og_t2f_mou_7       3.859039
std_og_t2f_mou_8       5.378054
std_og_t2f_mou_9       7.745077
std_og_t2c_mou_6       3.937039
std_og_t2c_mou_7       3.859039
std_og_t2c_mou_8       5.378054
std_og_t2c_mou_9       7.745077
std_og_mou_6           3.937039
std_og_mou_7           3.859039
std_og_mou_8           5.378054
std_og_mou_9           7.745077
isd_og_mou_6           3.937039
isd_og_mou_7           3.859039
isd_og_mou_8           5.378054
isd_og_mou_9           7.745077
spl_og_mou_6           3.937039
spl_og_mou_7           3.859039
spl_og_mou_8           5.378054
spl_og_mou_9           7.745077
og_others_6            3.937039
og_others_7            3.859039
og_others_8            5.378054
og_others_9            7.745077
loc_ic_t2t_mou_6       3.937039
loc_ic_t2t_mou_7       3.859039
loc_ic_t2t_mou_8       5.378054
loc_ic_t2t_mou_9       7.745077
loc_ic_t2m_mou_6       3.937039
loc_ic_t2m_mou_7       3.859039
loc_ic_t2m_mou_8       5.378054
loc_ic_t2m_mou_9       7.745077
loc_ic_t2f_mou_6       3.937039
loc_ic_t2f_mou_7       3.859039
loc_ic_t2f_mou_8       5.378054
loc_ic_t2f_mou_9       7.745077
loc_ic_mou_6           3.937039
loc_ic_mou_7           3.859039
loc_ic_mou_8           5.378054
loc_ic_mou_9           7.745077
std_ic_t2t_mou_6       3.937039
std_ic_t2t_mou_7       3.859039
std_ic_t2t_mou_8       5.378054
std_ic_t2t_mou_9       7.745077
std_ic_t2m_mou_6       3.937039
std_ic_t2m_mou_7       3.859039
std_ic_t2m_mou_8       5.378054
std_ic_t2m_mou_9       7.745077
std_ic_t2f_mou_6       3.937039
std_ic_t2f_mou_7       3.859039
std_ic_t2f_mou_8       5.378054
std_ic_t2f_mou_9       7.745077
std_ic_t2o_mou_6       3.937039
std_ic_t2o_mou_7       3.859039
std_ic_t2o_mou_8       5.378054
std_ic_t2o_mou_9       7.745077
std_ic_mou_6           3.937039
std_ic_mou_7           3.859039
std_ic_mou_8           5.378054
std_ic_mou_9           7.745077
spl_ic_mou_6           3.937039
spl_ic_mou_7           3.859039
spl_ic_mou_8           5.378054
spl_ic_mou_9           7.745077
isd_ic_mou_6           3.937039
isd_ic_mou_7           3.859039
isd_ic_mou_8           5.378054
isd_ic_mou_9           7.745077
ic_others_6            3.937039
ic_others_7            3.859039
ic_others_8            5.378054
ic_others_9            7.745077
date_of_last_rech_6    1.607016
date_of_last_rech_7    1.767018
date_of_last_rech_8    3.622036
date_of_last_rech_9    4.760048
dtype: float64

In [12]:
def impute_based_on_zero_per(col):
    zero_per = round(100 * (df_churn[col] == 0).sum() / df_churn.shape[0], 2)
    if zero_per > 95:
        df_churn.drop(col, axis=1, inplace=True)
        return
    if zero_per > 50:
        df_churn[col].fillna(0, inplace=True)
        return
    df_churn[col].fillna(df_churn[col].median(), inplace=True)

In [13]:
for col in null_cols.index:
    if df_churn[col].dtype == 'O':
        df_churn[col].fillna(df_churn[col].mode()[0], inplace=True)
    else:
        impute_based_on_zero_per(col)

In [14]:
calc_null_per()

Series([], dtype: float64)

In [15]:
## Calc Average

In [16]:
df_churn["total_rech_amt_6_7"] = (df_churn["total_rech_amt_6"] + df_churn["total_rech_amt_7"])/2

In [17]:
df_churn["total_rech_amt_6_7"].head(10)

0     307.0
1     229.0
2     241.5
3     270.0
4     273.0
5      60.0
6     360.5
7    1185.0
8     519.0
9     207.5
Name: total_rech_amt_6_7, dtype: float64

In [18]:
df_churn_hvc = df_churn[df_churn['total_rech_amt_6_7'] > df_churn['total_rech_amt_6_7'].quantile(0.7)]

In [19]:
df_churn_hvc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29979 entries, 7 to 99997
Columns: 207 entries, mobile_number to total_rech_amt_6_7
dtypes: float64(168), int64(35), object(4)
memory usage: 47.6+ MB

In [20]:
df_churn_hvc['total_call_usage'] = df_churn_hvc['total_og_mou_9'] + df_churn_hvc['total_ic_mou_9']

C:\Users\Mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_churn_hvc['total_data_usage'] = df_churn_hvc['vol_2g_mb_9'] + df_churn_hvc['vol_3g_mb_9']

C:\Users\Mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_churn_hvc.head()

,mobile_number,circle_id,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,...,sachet_3g_8,sachet_3g_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7,total_call_usage,total_data_usage
7,7000701601,109,1069.180,1349.850,3171.480,500.000,57.84,54.68,52.29,29.84,...,0,0,802,57.74,19.38,18.74,0.0,1185.0,0.00,0.0
8,7001524846,109,378.721,492.223,137.362,166.787,413.69,351.03,35.08,33.46,...,0,0,315,21.03,910.65,122.16,0.0,519.0,177.09,0.0
13,7002191713,109,492.846,205.671,593.260,322.732,501.76,108.39,534.24,244.81,...,0,0,2607,0.00,0.00,0.00,0.0,380.0,1077.95,0.0
16,7000875565,109,430.975,299.869,187.894,206.490,50.51,74.01,70.61,31.34,...,0,0,511,0.00,2.45,21.89,0.0,459.0,590.30,0.0
17,7000187447,109,690.008,18.980,25.499,257.583,1185.91,9.28,7.79,558.51,...,0,0,667,0.00,0.00,0.00,0.0,408.0,718.21,0.0

In [23]:
df_churn_hvc['total_usage'] = df_churn_hvc['total_call_usage'] + df_churn_hvc['total_data_usage']

C:\Users\Mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
= df_churn_hvc['total_usage']

C:\Users\Mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_churn_hvc['cust_churn'] = df_churn_hvc.total_usage.map(lambda x: 'Y' if x == 0 else 'N')

C:\Users\Mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df_churn_hvc.head()

,mobile_number,circle_id,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,...,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7,total_call_usage,total_data_usage,total_usage,cust_churn
7,7000701601,109,1069.180,1349.850,3171.480,500.000,57.84,54.68,52.29,29.84,...,802,57.74,19.38,18.74,0.0,1185.0,0.00,0.0,0.00,Y
8,7001524846,109,378.721,492.223,137.362,166.787,413.69,351.03,35.08,33.46,...,315,21.03,910.65,122.16,0.0,519.0,177.09,0.0,177.09,N
13,7002191713,109,492.846,205.671,593.260,322.732,501.76,108.39,534.24,244.81,...,2607,0.00,0.00,0.00,0.0,380.0,1077.95,0.0,1077.95,N
16,7000875565,109,430.975,299.869,187.894,206.490,50.51,74.01,70.61,31.34,...,511,0.00,2.45,21.89,0.0,459.0,590.30,0.0,590.30,N
17,7000187447,109,690.008,18.980,25.499,257.583,1185.91,9.28,7.79,558.51,...,667,0.00,0.00,0.00,0.0,408.0,718.21,0.0,718.21,N